/*
Theme Name: Gear Coop Blog
Theme URI: http://www.gearcoop.com
Description: Gear Coop Blog Theme
Version: 1.0
Author: alejuu
Author URI: http://alejuu.com
License: Copyright © Gear Coop
License URI: http://www.gearcoop.com/terms
*/
/*Wordpress*/
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter, .aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  width: 33%!important;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption-full {
  width: 100%!important;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.wp-caption-text {
  font-size: 14px;
}
.gallery-columns-3 .gallery-item, .gallery-columns-5 .gallery-item {
  width: 25%;
}
.gallery-item {
  display: inline-block;
}
.gallery-item > .gallery-caption {
  display: none;
}
.gallery-item > .gallery-icon > a > img {
  width: 100%;
  height: auto;
}
  /*Text meant only for screen readers.*/
  .screen-reader-text {
  	clip: rect(1px, 1px, 1px, 1px);
  	position: absolute!important;
  	height: 1px;
  	width: 1px;
  	overflow: hidden;
  }
  .screen-reader-text:focus {
  	background-color: #f1f1f1;
  	border-radius: 3px;
  	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  	clip: auto!important;
  	color: #21759b;
  	display: block;
  	font-size: 14px;
  	font-size: 0.875rem;
  	font-weight: bold;
  	height: auto;
  	left: 5px;
  	line-height: normal;
  	padding: 15px 23px 14px;
  	text-decoration: none;
  	top: 5px;
  	width: auto;
  	z-index: 100000; /* Above WP toolbar. */
  }
  .sticky{}
  .gallery-caption{}
  .bypostauthor{}
/*Gral*/
::-moz-selection {
  background-color: rgba(228, 93, 56, 0.6);
}
::selection {
  background-color: rgba(228, 93, 56, 0.6);
}
::-moz-selection {
  background-color: rgba(228, 93, 56, 0.6);
}
a:focus, input:focus, textarea:focus, input:focus {
  outline: none!important;
  -webkit-appearance: none!important;
}
.container-content {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 70px;
}
main, body {
  background-color: #f3f3f3;
}
  /*Text*/
  .italic {
    font-style: italic;
  }
  .grey {
    color: #A1A1A1;
  }
    /*H*/
    .h-text {
      color: #000;
      font-weight: 600;
    }
    .h-link {
      color: #000;
      font-weight: 600;
    }
    .h-link:hover {
      color: #E45D38;
    }
/*Jumbotron*/
.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  background-color: #ffffff;
}
.jumbotron-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
/*Navigation*/
.navbar {
  margin-bottom: 0;
}
.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}
  /*Menu Link*/
  .menu-shylock .menu-link {
  	position: relative;
  	margin: 0 1em;
  	padding-right: 0;
  	padding-left: 0;
  	color: #000000;
  	-webkit-transition: color 0.4s;
  	transition: color 0.4s;
  }
  .menu-shylock .menu-link:hover,
  .menu-shylock .menu-link:focus {
  	color: #A1A1A1;
  }
  .menu-shylock .menu-link:hover::before,
  .menu-shylock .menu-link:focus::before {
  	-webkit-transform: scale3d(1, 1, 1);
  	transform: scale3d(1, 1, 1);
  	-webkit-transition-delay: 0s;
  	transition-delay: 0s;
  }
  .menu-shylock .menu-link::before,
  .menu-shylock .menu-link::after {
  	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 3px;
  	-webkit-transform: scale3d(0, 1, 1);
  	transform: scale3d(0, 1, 1);
  	-webkit-transform-origin: center left;
  	transform-origin: center left;
  	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  .menu-shylock .menu-link::before {
  	background: #A1A1A1;
  	-webkit-transition-delay: 0.4s;
  	transition-delay: 0.4s;
  }
  .menu-shylock .menu-link::after {
  	background: #E45D38;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #E45D38;
    border-bottom: 4px solid #E45D38;
  }
  /*Search*/
  form.search-form:nth-child(2) {
    width: 300px;
    top: 12px;
    position: relative;
    margin-bottom: 20px;
  }
/*Slider*/
.featured-story, .featured-title, .featured-author {
  text-transform: uppercase;
}
.featured-title:hover {
  color: #E45D38!important;
}
.featured-read-more {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
  /*Bullets*/
  .tp-bullet-title {
    display: none;
  }
  .zeus .tp-bullet {
    width: 10px;
    height: 10px;
  }
  .zeus .tp-bullet-image, .zeus .tp-bullet-imageoverlay {
    border-radius: 0!important;
  }
/*Sidebar*/
.col-sidebar {
  padding-bottom: 15px;
  background-color: #ffffff;
  display: inline-block;
}
.col-sidebar-single {
  margin-top: 15px;
}
.col-widget {
  padding: 0;
  list-style: none;
}
.widget > ul {
  list-style: none;
  padding-left: 0;
}
.widgettitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
}
.social-media-links {
  margin-bottom: 12.5px;
}
.social-icons {
  padding: 10px;
  margin: 0 2px 2px 0;
  background-color: #000000;
}
.social-icons:hover {
  background-color: #E45D38;
}
  /*Select*/
  select {
    width: 100%!important;
    text-transform: uppercase!important;
    font-style: italic!important;
    font-size: 12px!important;
    height: 24px!important;
    margin-bottom: 12.5px!important;
  }
  /*Search*/
  .search-form {
    display: inline-block;
    width: 100%;
  }
  .search-form > label:nth-child(1) {
    display: inline;
  }
  .search-field {
    width: 77%;
  }
  .screen-reader-text {
    display: none;
  }
  input[type="search"] {
    text-transform: uppercase;
    font-style: italic;
    font-size: 12px;
    height: 24px;
  }
  .search-submit {
    height: 24px;
    border: hidden;
    background-color: #A1A1A1;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    padding: 3px 8px;
  }
  .search-submit:hover {
    background-color: #E45D38;
  }
  /*Calendar*/
  #pages-2 > h3:nth-child(1), #eventscalendar-2 > h3:nth-child(1) {
    display: none;
  }
  .page_item > a:nth-child(1) {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
  }
  .page_item > a:nth-child(1):hover {
    color: #E45D38;
  }
/*Content*/
.col-content {
  background-color: #ffffff;
  padding: 15px;
}
  /*Pagination*/
  .col-pagination {
    padding: 0;
    z-index: 1;
  }
  .pagination > li > a, .pagination > li > span {
    border-radius: 0!important;
    border: hidden;
  }
  .pagination {
    display: none;
  }
  .load-more {
    background-color: #E45D38!important;
    border: hidden!important;
    border-radius: 0!important;
    font-family: "Source Sans Pro",Helvetica Neue,Helvetica,Arial,sans-serif!important;
  }
  .load-more:hover {
    background-color: #A1A1A1!important;
  }
    /*Post Pagination*/
    .nav-previous {
      display: inline;
      float: left;
      background: #A1A1A1;
      padding: 5px;
      height: 30px;
    }
    .nav-previous > a, .nav-next > a {
      color: #ffffff;
      font-size: 14px;
      vertical-align: top;
    }
    .nav-next {
      display: inline;
      float: right;
      background: #A1A1A1;
      padding: 5px;
      height: 30px;
    }
    .nav-previous:hover, .nav-next:hover {
      background: #E45D38;
    }
    .col-single-pagination {
      float: right;
      margin-bottom: 30px;
    }
  /*Tags*/
  .tags {
    font-size: 14px;
  }
  /*Posts*/
  .container-content-single {
    padding-top: 0;
  }
  .col-single-content {
    padding: 0;
  }
  .dpsp-network-btn {
    background-color: #000000!important;
    border-color: transparent!important;
  }
  .dpsp-network-btn:hover {
    background-color: #E45D38!important;
  }
    /*Hover Posts*/
    .col-post:hover {
      background-color: rgba(228, 93, 56, 0.1);
      -webkit-transition: background-color .4s ease-in-out;
              transition: background-color .4s ease-in-out;
      -moz-transform: scale(1.01);
      -moz-transform-origin: 0 0;
      -o-transform: scale(1.01);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(1.01);
              transform: scale(1.01);
      -webkit-transform-origin: 0px 0px 0px;
              transform-origin: 0px 0px 0px;
      z-index: 1;
    }
    /*Featured Image*/
    .container-image-single {
      margin: 0;
      padding: 0;
    }
    .background-featured-image {
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
    }
    /*Author Sidebar*/
    .col-sidebar-author {
      padding: 0 15px 0 0;
      margin-bottom: 15px;
    }
    .div-sidebar-author {
      background-color: #ffffff;
      padding: 15px;
    }
    .div-sidebar-author > a:nth-child(3) {
      display: block;
    }
    .avatar.avatar-64.photo {
      width: 100%;
      height: auto;
      max-width: 96.23px;
    }
    .author-description {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .author-social-icons {
      padding: 5px;
    }
    .author-social-icons:hover {
      background-color: #E45D38;
    }
    /*Post Content*/
    .col-post-content {
      padding: 15px;
      background-color: #ffffff;
    }
    .thumb-image {
      width: 100%;
      height: 160px;
      /* lt ie8 */
      -ms-background-position-x: center;
      -ms-background-position-y: bottom;
      background-position: center bottom;
      /* scale bg image proportionately */
      background-size: cover;
      /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
      -ms-behavior: url(/backgroundsize.min.htc);
      /* prevent scaling past src width (or not) */
      /* max-width: 1200px; */
    }
    .post-title {
      font-weight: 600;
      margin: 0;
    }
    .post-read-more {
      color: #E45D38;
      text-align: right;
      text-transform: uppercase;
      font-size: 14px;
    }
    .post-read-more:hover {
      color: #A1A1A1;
    }
    .col-posts {
      padding: 0;
    }
    .col-post {
      margin-bottom: 20px;
      padding: 15px;
      background-color: #ffffff;
    }
    .col-posts > article > div > p:nth-child(6) {
      margin-bottom: 80px;
    }
    .post-date {
      display: inline;
      font-size: 14px;
      color: #A1A1A1;
      margin: 0;
    }
    .post-author {
      display: inline;
      font-size: 14px;
      color: #A1A1A1;
      margin: 0;
    }
    .post-author > a {
      font-style: italic;
    }
    .post-excerpt {
      margin: 0;
    }
    .post-read-more-link {
      position: absolute;
      bottom: 0;
      right: 15px;
    }
    .post-responsive-image {
      width: 50%;
    }
    /*Related Posts*/
    .yuzo__title > h4 {
      font-size: 18px;
      font-weight: 600;
    }
    .yuzo_related_post .relatedthumb {
      width: 20% !important;
    }
    .yuzo_related_post .relatedthumb .yuzo-img {
      width: 100% !important;
    }
    /*Lightbox*/
    #swipebox-title {
      max-width: 1024px;
      margin: 0 auto;
    }
/*Pages*/
.title {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;
  background-color: #ffffff;
  padding: 15px;
}
  /*Author*/
  .author-title {
    font-weight: 600;
  }
  .author-profile {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
  }
/*Footer*/
footer {
  background-color: #ffffff;
}
.copy {
  font-size: 12px;
  margin: 12px 0;
}
  /*top*/
  .cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    white-space: nowrap;
    background: rgba(228, 93, 56, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-top:hover {
    background: #E45D38;
    height: 50px;
  }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1;
  }
  .no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
  }
  .scroll-top-icon {
    display: block;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    padding-left: 11px;
    padding-top: 8px;
  }
  /*Events*/
  .light.dp_pec_wrapper {
    border: 1px solid #A1A1A1;
    border-bottom: 1px solid #A1A1A1;
    background: #ffffff;
    box-shadow: none;
    margin-bottom: 30px;
  }
  .light.dp_pec_wrapper .dp_pec_options_nav {
    border-bottom: 1px solid #A1A1A1;
    background: #F3F3F3;
  }
  .light.dp_pec_wrapper .dpProEventCalendar_feed {
    color: #fff;
    background: #A1A1A1!important;
    border-radius: 0;
    font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 100%;
  }
  .dp_pec_accordion_wrapper .dpProEventCalendar_feed:hover, .dp_pec_wrapper .dp_pec_options_nav .dpProEventCalendar_feed:hover {
    opacity: 1;
    background: #e45d38!important;
  }
  .light.dp_pec_wrapper .dp_pec_nav {
    border-bottom: 1px solid #F3F3F3;
  }
  .dp_pec_wrapper .dp_pec_layout a, .dp_pec_accordion_wrapper .dp_pec_nav a.dp_pec_search_btn {
    background: #A1A1A1;
    border-radius: 0;
    font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
    text-shadow: none;
    border: 0;
  }
  .dp_pec_wrapper .dp_pec_layout a:hover, .dp_pec_wrapper .dp_pec_layout a.active, .dp_pec_accordion_wrapper .dp_pec_nav a.dp_pec_search_btn:hover, .dp_pec_accordion_wrapper .dp_pec_nav a.dp_pec_search_btn.active {
    background:  #e45d38;
    text-shadow: none;
  }
  .light.dp_pec_wrapper .dp_pec_dayname {
    border: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background: #F3F3F3;
  }
  .dp_pec_wrapper .dp_pec_dayname {
    border-radius: 0;
  }
  .light.dp_pec_wrapper .dp_pec_content .dp_pec_date {
    border: 3px solid #F3F3F3;
    -ms-box-shadow: none;
    box-shadow: none;
  }
  .dp_pec_wrapper .dp_pec_content .dp_pec_date {
    border-radius: 0;
  }
  .light.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_date_head {
    background: #F3F3F3;
    border-right: none;
  }
  .dp_pec_wrapper .dp_pec_nav .selectric .label {
    font-family: "Source Sans Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #A1A1A1;
  }
  .dp_pec_wrapper .dp_pec_nav .selectric .label:hover {
    color: #E45D38;
  }
  .light.dp_pec_wrapper .dp_pec_nav span.prev_month strong, .light.dp_pec_wrapper .dp_pec_nav span.next_month strong, .light.dp_pec_wrapper .dp_pec_nav span.prev_day strong, .light.dp_pec_wrapper .dp_pec_nav span.next_day strong, .light.dp_pec_wrapper .dp_pec_nav span.prev_week strong, .light.dp_pec_wrapper .dp_pec_nav span.next_week strong {
    color: #A1A1A1;
    text-shadow: none;
  }
  .light.dp_pec_wrapper .dp_pec_nav span.prev_month strong:hover, .light.dp_pec_wrapper .dp_pec_nav span.next_month strong:hover, .light.dp_pec_wrapper .dp_pec_nav span.prev_day strong:hover, .light.dp_pec_wrapper .dp_pec_nav span.next_day strong:hover, .light.dp_pec_wrapper .dp_pec_nav span.prev_week strong:hover, .light.dp_pec_wrapper .dp_pec_nav span.next_week strong:hover {
    color: #E45D38;
  }
  .dp_pec_wrapper .dp_pec_nav span {
    font-family: "Source Sans Pro",Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .dp_pec_wrapper .dp_daily_event {
    border-radius: 0;
  }
  .light.dp_pec_wrapper .dp_daily_event {
    color: #fff;
    background: #E45D38;
    border-bottom: none;
  }
  .light.dp_pec_wrapper .dp_daily_event:hover {
    background: #E45D38!important;
    color: #ffffff;
    opacity: .5;
  }
  .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event {
    border: 1px solid #A1A1A1;
    -ms-box-shadow: none;
    box-shadow: none;
    background: #fff;
  }
  .dp_pec_wrapper .dp_pec_content .dp_pec_date_event .dp_pec_date_time, .dp_pec_accordion_wrapper .dp_pec_accordion_event span.pec_time, .dp_pec_wrapper .dp_pec_content .dp_pec_date_event .pec_featured, .dp_pec_accordion_wrapper .dp_pec_accordion_event .pec_featured, .dp_pec_wrapper .dpProEventCalendar_feed {
    font-family: 'Source Sans Pro', Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #A1A1A1;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-weight: normal;
  }
  .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head {
    border: 1px solid #A1A1A1;
    -ms-box-shadow: 1px solid #A1A1A1;
    box-shadow: none;
    background: #F3F3F3;
  }
  .dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head {
    border-radius: 0;
  }
  .dp_pec_wrapper .dp_pec_content a.dp_pec_date_event_back {
    color: #A1A1A1;
  }
  .dp_pec_wrapper {
    font-family: 'Source Sans Pro', Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event_head span {
    color: #A1A1A1;
    text-shadow: none;
  }
  .light.dp_pec_wrapper .dp_pec_layout .dp_pec_references_div {
    border-radius: 0;
    box-shadow: none;
}
    /*Preview*/
    .eventsPreviewDiv {
    	border-radius: 0;
      box-shadow: none!important;
    }
    .light.eventsPreviewDiv ul li span {
    	background: #A1A1A1;
    	border-radius: 0;
    }
    /*Content*/
    .gm-style > div:nth-child(1) > div:nth-child(4) > div:nth-child(4) > div:nth-child(1) > div:nth-child(3) {
      border-radius: 0!important;
    }
    .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event h2.dp_pec_event_title, .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event span {
      color: #000000;
    }
    .dp_pec_content .dp_pec_event_description, .dp_pec_content .dp_pec_event_description p {
      font: normal 16px Source Sans Pro,"Helvetica Neue","Helvetica",Arial,sans-serif;
      color: #000;
    }
    .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event .dp_pec_date_event_link {
      background-color: #A1A1A1;
    }
    .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event .dp_pec_date_event_link:hover, .light.dp_pec_wrapper .dp_pec_content .dp_pec_date_event a.dp_pec_date_event_twitter:hover {
      background-color: #e45d38;
    }
    .dp_pec_date_event_link > span:nth-child(2) {
      color: #ffffff!important;
    }
    .dp_pec_content .dp_pec_event_description_short .dp_pec_event_description_more {
      color: #A1A1A1;
    }
    .dp_pec_content .dp_pec_event_description_short .dp_pec_event_description_more:hover {
      color: #e45d38;
    }
    /*Widget*/
    .dp_pec_compact_wrapper.dp_pec_wrapper {
      margin-bottom: 0;
      box-shadow: none;
      border: 1px solid #A1A1A1;
    }
    .dp_pec_compact_wrapper.dp_pec_wrapper .dp_pec_content .dp_pec_date .dp_count_events::after {
      border-top: 15px solid #E45D38;
    }
/*404*/
.container-404 {
  background-image: url(http://192.168.1.2/gearcoop-blog/wp-content/uploads/2016/02/404.jpg);
}
.h1-404 {
  color: #ffffff;
  font-size: 100px;
  font-weight: bold;
}
.h3-404, .p-404 {
  color: #ffffff;
  font-weight: bold;
}
.btn-404 {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}
.btn-404:hover {
  background-color: #E45D38;
  color: #ffffff;
}
/*Media Queries*/
  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    /*Post*/
    .background-featured-image {
      height: 300px;
    }
  }
  /* Custom Medium Devices, Tablets */
  @media only screen and (max-width : 1024px) {
    /*gral*/
    input[type="search"] {
      -webkit-appearance: none!important;
      -webkit-border-radius: 0!important;
    }
    input[type="submit"] {
      border-radius: 0!important;
    }
    select {
      -webkit-border-radius: 0!important;
    }
    /*Posts*/
    .col-posts > article > div > p:nth-child(6) {
      margin-bottom: 100px;
    }
    /*Post*/
    .background-featured-image {
      background-attachment: scroll;
    }
  }
  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    .col-sidebar-author {
      padding: 0;
    }
    .col-single-pagination {
      float: none;
    }
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    /*Navigation*/
    .navbar-nav {
      margin: 0;
    }
    .navbar-nav > li {
      display: block;
    }
      /*Hamburguer Icon*/
      .navbar-default .navbar-toggle {
        border-color: transparent;
      }
      .navbar-toggle {
        background-color: transparent;
        border-radius: 0;
      }
      .navbar-default .navbar-toggle .icon-bar {
        background-color: #E45D38;
      }
        /*Hover & Focus*/
        .navbar-default .navbar-toggle:focus {
          border-color: #ffffff;
        }
        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
          background-color: #ffffff;
        }
        .navbar-default .navbar-toggle:focus .icon-bar {
          background-color: #E45D38;
        }
        .navbar-default .navbar-toggle:hover .icon-bar {
          background-color: #E45D38;
        }
      /*Search*/
      .search-form {
        width: 100%!important;
      }
      .search-submit {
        width: 22%!important;
      }
    /*404*/
    .btn-404 {
      margin-bottom: 50px;
    }
    /*Post*/
    .background-featured-image {
      height: 200px;
    }
    /*Footer*/
      /*Floating Sidebar*/
      #dpsp-floating-sidebar {
        top: inherit!important;
        bottom: 34px;
        width: 100%;
      }
      .dpsp-networks-btns-wrapper.dpsp-networks-btns-sidebar li {
        display: inline-block;
        width: 25%;
      }
      .dpsp-networks-btns-wrapper.dpsp-networks-btns-sidebar .dpsp-network-btn {
        width: 100%;
      }
      /*Top*/
      .cd-top {
        bottom: 80px;
        right: 0;
      }
      .cd-top:hover {
        background: #E45D38;
        height: 40px;
        width: 50px;
      }
  }
  /* Custom Small Devices, Tablets */
  @media only screen and (max-width : 767px) {
    /*Posts*/
    .col-posts > article > div > p:nth-child(6) {
      margin-bottom: 40px;
    }
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    /*WordPress*/
    .gallery-columns-3 .gallery-item, .gallery-columns-5 .gallery-item {
      width: 50%;
    }
    /*Slider*/
    .featured-author {
      display: none!important;
    }
    /*Sidebar*/
    .widget {
      width: 100%;
    }
    /*Posts*/
    .col-posts > article > div > p:nth-child(6) {
      margin-bottom: 70px;
    }
    .post-responsive-image {
      width: 100%;
    }
    .wp-caption {
      width: 100%!important;
    }
    /*Related Posts*/
    .yuzo_related_post .relatedthumb {
      width: 33.33%!important;
    }
  }
  /* Custom Extra Small Devices, Phones */
  @media only screen and (max-width : 398px) {
    /*Navigation*/
      /*Search*/
      .search-submit {
        width: 21%!important;
      }
  }
  /* Custom, iPhone Retina */
  @media only screen and (max-width : 360px) {
    /*Sidebar*/
    .widget {
      width: 100%;
    }
    /*Posts*/
    .col-posts > article > div > p:nth-child(6) {
      margin-bottom: 100px;
    }
      /*Related Posts*/
      .yuzo_related_post .relatedthumb {
        width: 50%!important;
      }
  }
