<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
/*Topbar*/
.ubermenu-topbar {
  padding-left: 20px;
}
.topbar-icon {
  padding-top: 8.6px !important;
  padding-bottom: 8.6px !important;
}
.topbar-menu-item {
  text-transform: uppercase!important;
  font-size: 12px!important;
  padding-top: 11.7px!important;	
  padding-bottom: 11.7px!important;
}
.topbar-icon:hover, .topbar-menu-item:hover {
  color: #DF611C!important;
}
.top-cart:hover {
  background: #fff!important;
  color: #000!important;
}
.topbar-menu-login {
  text-transform: uppercase!important;
  font-size: 14px!important;
  padding-top: 8.6px !important;
  padding-bottom: 8.6px !important;
}
/*Menu*/
main {
  margin-top: 10em!important;
}
@media only screen and (max-width: 768px)  {
  main {
    margin-top: 2.8em !important;
  }
}
#ubermenu-nav-main-360-primary > li {
  padding: 0 5px;
}
.primary-menu-item:hover {
  border-bottom: solid 5px #DF611C;
  box-sizing: border-box;
  height: 52.3px;
  color: #DF611C!important;
}
.primary-menu-item > span {
  font-size: 0.875em;
  letter-spacing: 2px;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target::after {
  font-size: 24px;
  top: 18px;
  right: 4px;
  -webkit-text-stroke: 1px #F2F3F3;
}
/*Search Menu*/
.menu-logo {
  padding: 20px!important;
}
.menu-logo > img {
  margin-bottom: 0!important;
}
.ubermenu .ubermenu-search .ubermenu-searchform {
  width: 100%;
  max-width: 1048px;
  margin: 0;
}
.ubermenu.ubermenu-search .ubermenu-search input.ubermenu-search-input {
  height: 42px;
}
/*Submenus*/
.ubermenu-main .ubermenu-item-level-0 > .ubermenu-target {
  text-transform: uppercase;
}
.ubermenu .ubermenu-submenu .ubermenu-column-auto.ubermenu-has-submenu-stack {
  max-width: 380px;
  width: 100%;
  padding: 10px 20px;
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-parent {
  padding: 10px;
  color: #192021;
  border-bottom: 1px solid #192021;
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-parent:hover {
  color: #DF611C;
}
.ubermenu .ubermenu-submenu .ubermenu-column-auto.ubermenu-has-submenu-stack > ul > li > a {
  padding: 10px 12px;
}
.ubermenu .ubermenu-submenu .ubermenu-column-auto.ubermenu-has-submenu-stack > ul > li > a:hover {
  color: #DF611C;
}
/*Activity*/
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-activity {
  padding: 5px;
  position: relative;
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-activity > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(25,32,33,0.6);
  width: 150px;
  padding: 20px 0;
  text-align: center;
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-activity:hover > span {
  background: #192021;
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-activity:hover > img {
  filter: brightness(80%);
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-button {
  max-width: 940px;
  margin: 0 auto;
  background: #df611c;
  color: #f2f3f3;
  border: 1px solid #df611c;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  min-height: 42px;
  line-height: 2.5;
  margin: 20px auto;
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-button:hover {
  background: #e77c42;  
}
/*Brand*/
.ubermenu-submenu-id-5856 {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  flex-wrap: wrap!important;
}
.ubermenu-submenu-id-5856 > li {
  margin: 0 40px!important;
}
.ubermenu-submenu-id-5856 .ubermenu-target-title {
  display: none!important;
}
.ubermenu .ubermenu-submenu .ubermenu-target.submenu-button span {
  display: block!important;
}
/*Mobile*/
.mobile-bar {
  height :45px
}
.mobile-bar > a > .logo-mobile {
  top: 4px;
  position: relative;
  left: 10px;
}
.search-mobile-icon {
  position: absolute;
  top: 0;
  right: 104px;
  background: transparent;
  border: hidden;
  padding: 13px 6px;
}
.search-mobile-icon:hover {
  background: transparent!important;
}
.search-mobile-icon:focus {
  box-shadow: none!important;
}
.search-cart-icon:hover {
  background: #DF611C!important;
  color: #fff!important;
}
#searchform > .search-mobile-icon > .fa-search {
  font-size: 18px;
  color: black;
  font-weight: lighter;
}
.search-cart-icon {
  position: absolute;
  top: 0;
  right: 47px;
  height: 45px;
  padding: 8px;
  width: 58px;
}
#searchform > .search-cart-icon > .fa-shopping-cart {
  font-size: 24px;
}
#searchform > .search-mobile {
  padding: 20px;
  background: #fff;
  display: none;
  z-index: 1000;
}
#searchform > .search-mobile > .input-search {
  float: none;
  width: 100%;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
#searchform > .search-mobile > .input-search:focus {
  border-color: #000;
  box-shadow: none;
}
.ubermenu-responsive-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  padding: 12px 13px;
  color: white;
}
.search-mobile > .search-submit {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  opacity: 0;
}
.search-mobile > .fa-search {
  position: absolute;
  top: 28px;
  right: 24px;
}
.search-mobile-open {
  display: block!important;
}
/*Megamenu Mobile*/
.ubermenu-open {
  overflow: hidden;
}
.main-mobile-header-open {
  overflow: scroll;
  height: 100%;
}
.mobile-submenu, .mobile-submenu-parent, .mobile-submenu-child {
  color: #000!important;
  text-transform: uppercase!important;
  font-size: 14px!important;
}
.mobile-submenu-parent {
  padding-left: 30px!important;
}
.mobile-submenu-child {
  padding-left: 45px!important;
}
.mobile-submenu + .ubermenu-submenu-drop, .mobile-submenu-parent + .ubermenu-submenu-drop {
  position: relative!important;
  margin: 0 !important;
  box-shadow: none !important;
}
.main-mobile-header > .ubermenu .ubermenu-submenu .ubermenu-target.submenu-button {
  margin: 20px;
}</style>
<!-- end Simple Custom CSS and JS -->
